<footer>

	<div class="container d-flex align-items-center">
		<div class="mb-3">
			<a class="d-flex align-items-center text-decoration-none" href="/" title="La ligne bleue">
				<img src="{{ asset('build/images/logo.jpeg') }}" alt="logo" id="logo">
			</a>

		</div>

		<div class="mx-auto">
			
			<ul class="list-unstyled small text-center">
				<li class="mb-2 ms-4 copyright">Copyright © 2023</li>
			</ul>

		</div>
	</div>
</footer>